body {
	display: flex;
	justify-content: center;
}

p {
	font-family: 'Source Code Pro', monospace;
	font-size: 40px;
}

.calculator {
	display: block;
	/* justify-content: center; */
    align-content: flex-start;
    /* flex-direction: column; */
	width: 400px;
	height: 600px;
	border-style: solid;
	border-width: 1px;
	display: flex;
	flex-wrap: wrap;
}

.screen {
	display: flex;
	width: 400px;
	height: 100px;
	background-color: black;
    color: black;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

.topRow {
	display: flex;
	flex-direction: row;
}

.row {
	display: flex;
	flex-direction: row;
}

.clearBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 200px;
	background-color: grey;
	border-style: solid;
	border-width: 1px;
}

.numberBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100px;
	border-style: solid;
	border-width: 1px;
	background-color: grey;
}

.zeroBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 100px;
	border-style: solid;
	border-width: 1px;
	background-color: grey;
}

.methodBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100px;
	border-style: solid;
	border-width: 1px;
	background-color: yellow;
}
